SECRET_KEY='django-secure-key'
DEBUG=False
# Список хостов (доменов), с которых разрешены HTTP-запросы к вашему Django-приложению.
ALLOWED_HOSTS=localhost, 127.0.0.1, [::1], some.web.com
# Список доверенных хостов (origins), с которых можно отправлять CSRF-защищённые POST-запросы, даже если они приходят с другого домена/порта.
CSRF_TRUSTED_ORIGINS=http://localhost, http://127.0.0.1, https://some.web.com
# dev - режим разработки, Prod - продакшен
PROFILE=prod
# Переменные для базы данных
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
# Добавляем переменные для Django-проекта: где db имя сервиса в docker-compose.production.yml
DB_HOST=db
DB_PORT=5432