name: Debug Runner

on: [push]

jobs:
  debug:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Print env
        run: |
          echo "✅ Работает!"
          env

      - name: List files
        run: ls -la